# ====================
# Entornos virtuales
# ====================
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
venv_TFM2025/

# ====================
# Caches de Python
# ====================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

# ====================
# Archivos de entorno
# ====================
.env
*.env

# ====================
# Archivos del sistema operativo
# ====================
.DS_Store
Thumbs.db
ehthumbs.db

# ====================
# Logs y bases de datos
# ====================
*.log
*.sqlite3
db.sqlite3
db.sqlite3-journal
sistema_conocimiento.db
sistema_conocimiento.db-journal

# ====================
# Coverage y testing
# ====================
.coverage
.coverage.*
.tox/
.nox/
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/
.hypothesis/

# ====================
# IDEs y herramientas
# ====================
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# ====================
# Documentación y builds
# ====================
docs/_build/
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST
site/
documentation/*.xlsx


# ====================
# Jupyter/IPython
# ====================
.ipynb_checkpoints
profile_default/
ipython_config.py

# ====================
# PyInstaller / Cython
# ====================
*.spec
cython_debug/

# ====================
# Linter/Type checker
# ====================
.mypy_cache/
.dmypy.json
.pytype/
.pyre/
.ruff_cache/

# ====================
# Estructura de carpetas
# ====================
/data/*
!/data/input/.gitkeep
!/data/knowledge/.gitkeep
!/data/processed/.gitkeep
!/data/segmented/.gitkeep

# ====================
# Otros
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/
.pypirc
/src/tools/*.jar
/src/Historial Versiones TFM/

